.rmdb-navigation {
  width: 100%;
  height: auto;
  background: #353535;
  color: #fff;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
}

.rmdb-navigation-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;

}

.rmdb-navigation-content p {
  font-family: 'Abel', sans-serif;
  font-size: 22px;
  display: inline;
  color: #fff;
  padding-right: 10px;
  text-decoration: none;
  margin: 0;
}

.rmdb-navigation-content a {
  text-decoration: none;
}